@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Disk Inventory</h1>
    <p>Select a Page</p>
    <ul>
        <li><a></a></li>
    </ul>
</div>
