@model Artist
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewBag.Title = "Delete Artist";
}

<h2>Confirm Delete</h2>
<h3>@Model.FirstName @Model.LastName</h3>
<form asp-action="Delete" asp-controller="Artist" method="post">
    <input type="hidden" asp-for="ArtistId" />

    <button class="btn btn-danger" type="submit">Delete</button>
    <a asp-controller="Artist" asp-action-="Index" class="btn btn-primary">Cancel</a>
</form>
